<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>613079507554-403leg087v93glo3nm84cntjilq4jkig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613079507554-403leg087v93glo3nm84cntjilq4jkig</string>
	<key>API_KEY</key>
	<string>AIzaSyCpOhxUHP0fVVRjbskAwWL1JkoWNFliRvA</string>
	<key>GCM_SENDER_ID</key>
	<string>613079507554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nomnomAlexJoanna</string>
	<key>PROJECT_ID</key>
	<string>nomnom-alex-joanna</string>
	<key>STORAGE_BUCKET</key>
	<string>nomnom-alex-joanna.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613079507554:ios:b8114fcf49257177</string>
	<key>DATABASE_URL</key>
	<string>https://nomnom-alex-joanna.firebaseio.com</string>
</dict>
</plist>